// dark-blue gradient
$dark-blue: #00679b;
$light-blue: #3a95c2;

$cell-border: solid 1px #a9b8c2;


%table-header {
  @include row(table);
  @include outer-container(100%);
  @include background-image(linear-gradient(to bottom, $dark-blue, $light-blue));

  border-top: solid 3px #3E88AE;
  border-bottom: $cell-border;
  padding-top: 5px;
  padding-bottom: 5px;

  > div {
    text-align: center;
    color: #FFA34F;
    font-weight: bold;
    font-size: 1.1em;
  }
}
