// dark-blue gradient
$dark-blue: #00679b;
$light-blue: #3a95c2;

$cell-border: solid 1px #a9b8c2;

#header-subsilver {
  display: none;
}

@include display-context(table) {
  .forums-header {
    @include outer-container(100%);
    @include fill-parent;
    @include background-image(linear-gradient(to bottom, $dark-blue, $light-blue));
    display: table;

    border-top: solid 3px #3E88AE;
    border-bottom: $cell-border;
    padding-top: 5px;
    padding-bottom: 5px;


    > div {
      text-align: center;
      color: #FFA34F;
      font-weight: bold;
      font-size: 1.1em;
    }

    > .forums {
      @include span-columns(8);
    }

    > .topics,
    > .posts {
      @include span-columns(1);

    }
    > .lastpost {
      @include span-columns(2);
      @include omega;
    }
  }
}

.forabg {

  border: $cell-border;

  &:first-child {
    border-top: $cell-border;
  }

  > .category {
    border-bottom: solid 3px #C7D0D6;
  }

  > .forums {
    @include outer-container(100%);
    @include background-image(linear-gradient(to right bottom, #C8D0D5, #E0E5E9));
    padding: 5px;
    font-weight: bold;

    h4 {
      font-size: 1.1em;
      font-family: inherit;
    }
  }
}

@include display-context(table) {

  .topiclist.forums {
    .row {
      @include outer-container(100%);
      @include fill-parent;
      display: table;
      min-height: 40px;
      border-top: $cell-border;

      > div {
        padding: 4px;
        vertical-align: middle;
        border-right: $cell-border;

        &:last-child {
          border-right: none;
        }

        p {
          margin-top: 0;
          margin-bottom: 4px;
        }
      }
    }

    .icon {
      @include span-columns(1 of 24);
      background-repeat: no-repeat;
      background-position: center center;
    }

    .description {
      @include span-columns(15 of 24);
    }

    .topics,
    .posts {
      @include span-columns(2 of 24);
      text-align: center;
    }

    .lastpost {
      @include span-columns(4 of 24);
      @include omega;
      text-align: center;
    }
  }
}
