body.section-posting {
  form {
    #postingbox h3 {
      @extend %table-header;
      display: block;
      margin: -5px -10px 0;
      width: auto;
      max-width: none;

      text-align: center;
      color: #FFA34F;
      font-weight: bold;
      font-size: 1.2em;
      text-transform: none;
    }

    dl {
      dt {
        @include span-columns(2);
      }

      dd {
        @include span-columns(10);
        margin-left: 0;

        input,
        textarea {
          margin: 0;
        }
      }
    }

    h3#review {
      @extend %table-header;
      text-align: center;
      color: #FFA34F;
      font-weight: bold;
      font-size: 1.2em;
      text-transform: none;

      margin-top: 2em;
      margin-bottom: 0;

      .right-box {
        margin-right: 10px;
        a {
          color: rgba(white, 0.5);

          &:hover,
          &:active,
          &:focus {
            color: rgba(white, 0.75);
          }
        }
      }
    }

    #topicreview {
      border: $cell-border;
      border-top: none;
      padding: 5px;

      .quote,
      .post-time {
        float: right;
        margin: 0;
      }

      .postbody {
        padding-bottom: 4px;
      }

      .quote {
        @extend %button;

        position: relative;
        text-align: center;
        top: -2px;

        a {
          display: block;
          padding-left: 14px;
          padding-right: 4px;
          min-width: 72px;

          &:hover {
            text-decoration: none;
          }
        }

        .icon-button {
          padding-top: 0;
          padding-bottom: 0;

          &:before {
            float: none;
            position: absolute;
            top: -2px;
            left: 6px;;
          }
        }
      }

      .post {
        margin-bottom: 1px;
      }

      .author header {
        border-bottom-color: transparent;
      }

      .content {
        padding: 0;
        min-height: initial;
      }
    }
  }

  #format-buttons {
    @include span-columns(10);
    @include shift(2);
    margin-top: 0;
  }

  #smiley-box {
    @include span-columns(2);
    max-height: none;
  }

  #message-box {
    @include span-columns(10);
  }

  #postingbox {
    margin-bottom: 0;

    & + .panel {
      margin-top: -1px;
      padding: 0 10px;
    }
  }

  #tabs {
    margin-left: 0;

    .tab {
      margin-right: 3px;

      > a {
        opacity: 0.5;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .activetab > a {
      padding-bottom: 6px;
      background: #ececec;
      border-bottom-color: transparent;
      opacity: 1;
    }
  }

  #options-panel,
  #poll-panel {
    margin-top: -1px;
  }

  @include media($mobile) {
    form dl {
      dt,
      dd {
        @include span-columns(12);
        @include omega;
      }

      dt {
        padding: 3px 0;
      }
    }

    #format-buttons {
      @include shift(0);
      @include span-columns(12);
    }

    @include direction-context(right-to-left) {
      #smiley-box,
      #message-box {
        @include span-columns(12);
        @include omega;
        margin-right: 0;
      }
    }
  }


  .tab {
    border: none;
    background: none;
  }

  .responsive-tab {
    > .a.responsive-tab-link {
      width: auto;
    }
  }
}
