body.section-viewforum {

  .forum-title + div {
    @include row;
  }

  p.forum-desc {
    @include span-columns(12);
    display: none;
  }

  p.forum-moderators {
    margin-top: 0;
    @include span-columns(9);
  }

  p.forum-mcp {
    margin-top: 0;
    @include span-columns(3);
    text-align: right;
  }

  .forumbg {

    border: $cell-border;

    &:first-child {
      border-top: $cell-border;
    }

    > .category {
      background-color: #C0C8D0;
      padding: 5px;
    }

    & + .body-blok {
      margin-top: 15px;
    }

    & + form {
      @include outer-container(100%);
      @include background-image(linear-gradient(to right bottom, #C8D0D5, #E0E5E9));
      border: $cell-border;
      border-top: none;

      fieldset {
        line-height: 19px;
        margin: 0;
        padding: 3px 0 1px;
        border-bottom: solid 3px #C7D0D6;
      }

      @include media($mobile) {
        label {
          text-align: right;
        }
      }
    }
  }

  .action-bar.bottom + .navbar {
    margin-top: 20px;
  }

  .online-list {
    margin-bottom: 20px;
  }

  // legend + perms next to each other
  .icons-legend {
    @include span-columns(6);

    .legend-icon {
      @include span-columns(2 of 6);
      @include omega(3n);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 3px;

      > span.imageset {
        margin-right: 5px;
      }
    }
  }

  .post-info {
    @include row;
    margin-bottom: 20px;
  }

  .permissions {
    @include span-columns(6);
    text-align: right;
    @include omega;
  }

  .jumpbox-row {
    @include row;
  }

  .search-box {
    @include span-columns(6);

    a.button {
      height: auto;
      border-radius: 0;
    }

    .inputbox {
      border-radius: 0;
    }

    @include media($mobile) {
      @include span-columns(9);
    }
  }

  .jumpbox-return {
    display: none;
  }

  #jumpbox {
    @include span-columns(6);
    @include omega;
    text-align: right;

    .button {
      height: auto;
      border-radius: 0;
    }
    @include media($mobile) {
      @include span-columns(3);
    }
  }

  @include media($mobile) {
    .permissions,
    .icons-legend {
      @include span-columns(12);
      @include omega;
    }

    .permissions {
      margin-top: 15px;
      text-align: left;
    }

    .icons-legend {
      .legend-icon {
        &:nth-child(3n) {
          margin-right: flex-gutter();
        }
        &:nth-child(3n+1) {
          clear: none;
        }
        @include span-columns(6);
        @include omega(2n);
      }
    }
  }
}


@include display-context(table) {
  .topics-header {
    @include outer-container(100%);
    @include fill-parent;
    @include background-image(linear-gradient(to bottom, $dark-blue, $light-blue));
    display: table;

    border-top: solid 3px #3E88AE;
    border-bottom: $cell-border;
    padding-top: 5px;
    padding-bottom: 5px;


    > div {
      text-align: center;
      color: #FFA34F;
      font-weight: bold;
      font-size: 1.1em;
    }

    > .topics {
      @include span-columns(22 of 36);
    }
  }

  .topiclist.topics {
    .row {
      @include outer-container(100%);
      @include fill-parent;
      display: table;
      min-height: 40px;
      border-top: $cell-border;

      > div {
        padding: 4px;
        vertical-align: middle;
        border-right: $cell-border;

        &:last-child {
          border-right: none;
        }

        p {
          margin-top: 0;
          margin-bottom: 4px;
        }
      }

      .pagination {
        float: none;
        text-align: left;
        background-image: none;
        padding: 0;
        margin: 0;
        font-size: 1em;

        > ul > li {
          a {
            display: inline;
            border: none;
            color: #006597;
            padding: 0;
            background-color: transparent;
            font-size: 1em;

            &:after {
              content: ",";
              color: #323D4F;
            }

            &:hover {
              color: #D46400;
            }
          }

          &:last-child {
            a:after {
              content: "";
            }
          }
        }
      }
    }
  }

  .icon {
    @include span-columns(1 of 36);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .description {
    @include span-columns(20 of 36);
  }

  .author {
    @include span-columns(4 of 36);
    text-align: center;
  }

  .posts,
  .views {
    @include span-columns(2 of 36);
    text-align: center;
  }

  .lastpost {
    @include span-columns(7 of 36);
    @include omega;
    text-align: center;
  }

  @include media($mobile) {

    .topics-header {
      .topics {
        @include span-columns(9);
      }
    }

    .icon {
      @include span-columns(1);
    }

    .description {
      @include span-columns(7);
    }
    .author {
      @include span-columns(3);
      border-right: none !important;

      a {
        display: block;
        max-width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .posts,
    .views,
    .lastpost {
      display: none;
    }
  }
}



.action-bar {
  // reset floats
  .buttons,
  .buttons .button,
  .pagination {
    float: none;
  }

  @include row;

  .action-buttons {
    @include span-columns(4);

    > * {
      float: left;
    }

    .buttons {
      margin-right: 5px;

      .button {
        border: solid 2px #006597;
        border-radius: 13px;
        height: 26px;
      }
    }

    .page-info {
      line-height: 26px;
    }
  }

  .pagination {
    @include span-columns(3);
    @include shift(5);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 26px;

    li.next a {
      height: auto;
      width: 14px;
      background-position: -52px 2px;
    }
  }

  @include media($mobile) {
    .action-buttons {
      @include row;
      width: 100%;
      margin-bottom: 15px;

      .buttons,
      .page-info {
        @include span-columns(6 of 12);
      }
      .page-info {
        text-align: right;
      }

    }
    .pagination {
      @include shift(0);
      @include row;
      width: 100%;
      margin-left: 0;

      > ul {
        margin: 0 !important;
      }
    }
  }
}
