body.section-viewtopic {

  @extend %forum;

  .action-bar {
    .topic-tools {
      float: right;

      .button {
        height: auto;
      }
    }
  }
}

body.section-viewtopic {
@include display-context(table) {
  .topic-header {
    @extend %table-header;

    .author {
      border-right: solid 1px #A9B8C2;
    }
  }

  .author {
    @include span-columns(2);
  }

  .message {
    @include span-columns(10);
  }
}
}
