body.section-viewtopic {

  @extend %forum;

  .action-bar {
    .topic-tools {
      float: right;

      .button {
        height: auto;
      }
    }
  }
}

body.section-viewtopic {

article.post .row {
  @include row(table);
}

@include display-context(table) {

  .topic-header {
    @extend %table-header;

    padding-top: 0;
    padding-bottom: 0;
    border-left: $cell-border;
    // border-right: $cell-border;

    > .author,
    > .message {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    > .author {
      border-right: $cell-border;
    }
  }

  .post {

    header .details {
      float: right;
    }

    .profile-rank,
    .avatar-container,
    .stat,
    .sharing {
      padding: 7px;
    }

    .online-status {
      @include background-image(linear-gradient(to bottom, #ffffff, #bcc1c3));
      max-width: 72px;
      border: solid 1px #357ea4;
      border-radius: 4px;
      text-align: center;
      font-weight: bolder;
      margin: 7px;
      padding: 1px;
      text-shadow: 1px 1px 0 #FFFFFF,
                  -1px -1px 0 #FFFFFF,
                  -1px -1px 0 rgba(188, 42, 77, 0.2);
      cursor: default;
    }

    &.online .online-status {
      color: #6ca964;
    }

    &.offline .online-status {
      color: #b63232;
    }

    .stat,
    .sharing {
      color: #000000;
      padding-top: 0;
      padding-bottom: 0;
    }

    .sharing {
      display: block;
    }
  }

  .author,
  .message {
    header {
      padding: 6px;
      border-bottom: $cell-border;
    }
  }

  .author {
    @include span-columns(2);
    border-right: $cell-border;
    text-align: left;

    header {
      text-align: center;
    }
  }

  .message {
    @include span-columns(10);

    .content {
      font-size: 1.3em;
      overflow-x: auto;
      padding: 4px;
    }

    .ignore {
      font-size: 1.1em;
    }

    img.postimage {
      max-width: 100%;
    }
  }

  .signature {
    // we have rules about the maximum height of images/number of lines
    max-height: 175px;
    overflow: hidden;
    margin: 1.5em 4px 0;
    padding-top: 0.5em;
    font-size: 1.1em;
    border-top: solid 1px rgba($cell-color, 0.5);
    line-height: 140%;
  }
}
}
