<link href="{{ static.url('css/common.css') }}" rel="stylesheet" charset="utf8">
<link href="{{ static.url('css/screen.css') }}" rel="stylesheet" charset="utf8">
<link href="{{ static.url('bower_components/components-font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" charset="utf8">
<link href="{{ static.url('css/jquery-ui-1.10.2.custom.css') }}" rel="stylesheet" charset="utf8">
<link href="{{ static.url('css/forum.css') }}" rel="stylesheet" charset="utf8">
<style>
.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1152px;
}
.headerbar {
    display: none;
}
#wrap {
    margin-top: 25px;
}
#announcement {
    margin-top: 25px;
}
#announcement:empty {
    margin-top: 0;
}
</style>
