<header class="container-fluid">
    <div class="navbar navbar-default navbar-center sprue-tabs" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{{ static.url('images/logo/logo_modelbrouwers.png') }}" alt="Back to the Modelbrouwers.nl homepage">
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="main-nav">
                    {% include "nav_tabs_text.html" %}
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>

    <ul id="shop-banner">
        {% include "shop_banner.html" %}
    </ul>
</header>

<div class="container">
    {# <div id="announcement">Sample announcement</div> #}
</div>

<div class="container text-right">
    <a href="viewtopic.php?t=22861" id="open-chat">
        <img src="{{ static.url('/images/icons/icon_mini_chat.gif') }}" alt="Modelbrouwers.nl chat" />
        Brouw Chat
    </a>
    &nbsp;
    <a href="viewtopic.php?t=3606">
        <img src="{{ static.url('/images/icons/icon_mini_abc.gif') }}" alt="Modelbouw woordenboek" />
        A tot Z
    </a>
    &nbsp;
    <a href="http://www.modelbrouwers.nl/winkel/">
        <img src="{{ static.url('/images/icons/icon_mini_brouw.gif') }}" alt="Modelbrouwers.nl winkel" />
        Winkel
    </a>
    &nbsp;
    <a href="viewforum.php?f=30">
        <img src="{{ static.url('/images/icons/icon_mini_tips-n-trucs.gif') }}" alt="Tips en trucs" />
        Tips en trucs
    </a>
    &nbsp;
    <a href="https://www.facebook.com/pages/Modelbrouwers/148511201908850" target="_blank">
        <img src="{{ static.url('images/icons/fb_16.jpg') }}" alt="Facebook" height="16" width="16"/>
        Organisatie
    </a>
    &nbsp;
    <a href="https://www.facebook.com/groups/176538465693529/" target="_blank">
        <img src="{{ static.url('images/icons/fb_16.jpg') }}" alt="Facebook" height="16" width="16"/>
        Club
    </a>
    &nbsp;
    <a href="http://twitter.com/Modelbrouwers" target="_blank">
        <img src="{{ static.url('/images/icons/icon_mini_twitter.gif') }}" alt="Volg ons" />
        Twitter
    </a>
    &nbsp;
    <a href="http://www.youtube.com/modelbrouwers" target="_blank">
        <img src="{{ static.url('/images/icons/icon_mini_youtube.gif') }}"
            alt="Modelbrouwers YouTube-kanaal" />
        YouTube
    </a>
</div>
