body.section-ucp {

  @include display-context(table) {
    .topiclist.topics {

      .icon {
        @include span-columns(2 of 36);
      }

      .description {
        @include span-columns(26 of 36);
      }

      .lastpost {
        @include span-columns(8 of 36);
      }
    }
  }

  .profile-details {
    @include row;
    list-style-type: none;
    font-size: 1.1em;
    padding: 10px 0;

    .profile-details__label {
      @include span-columns(2);
      @include shift(1);
      font-weight: 600;
      text-align: right;
    }

    .profile-details__content {
      @include span-columns(9);
    }
  }
}
