{% include "overall_header.html" %}

{% if S_HAS_SUBFORUM %}
	{% if not S_IS_BOT and U_MARK_FORUMS %}
		<div class="action-bar compact">
			<a href="{{ U_MARK_FORUMS }}" class="mark-read rightside" data-ajax="mark_forums_read">
				{{ lang('MARK_SUBFORUMS_READ') }}
			</a>
		</div>
	{% endif %}
	{% include "forumlist_body.html" %}
{% endif %}


<!-- EVENT viewforum_forum_title_before -->
<h2 class="forum-title">
	<!-- EVENT viewforum_forum_name_prepend -->
	<a href="{{ U_VIEW_FORUM }}">{{ FORUM_NAME }}</a>
	<!-- EVENT viewforum_forum_name_append -->
</h2>
<!-- EVENT viewforum_forum_title_after -->

{% if FORUM_DESC or MODERATORS or U_MCP %}
<div>
	{% if FORUM_DESC %}<p class="forum-desc">{{ FORUM_DESC }}</p>{% endif %}
	{% if MODERATORS %}
		<p class="forum-moderators">
			<strong>{{ S_SINGLE_MODERATOR ? lang('MODERATOR') : lang('MODERATORS') }}</strong>{{ lang('COLON') }}
			{{ MODERATORS }}
		</p>
	{% endif %}
	{% if U_MCP %}<p class="forum-mcp">[ <a href="{{ U_MCP }}">{{ lang('MCP') }}</a> ]</p>{% endif %}
</div>
{% endif %}


{% if S_FORUM_RULES %}
<div class="rules {{ U_FORUM_RULES ? 'rules-links' : '' }}">
	{% if U_FORUM_RULES %}
		<a href="{{ U_FORUM_RULES }}">{{ lang('FORUM_RULES') }}</a>
	{% else %}
		<strong>{{ lang('FORUM_RULES') }}</strong><br>
		{{ FORUM_RULES }}
	{% endif %}
</div>
{% endif %}


{% if S_DISPLAY_POST_INFO or loops.pagination or TOTAL_POSTS or TOTAL_TOPICS %}
<div class="action-bar top">
	<div class="action-buttons">
		{% if not S_IS_BOT and S_DISPLAY_POST_INFO %}
			<div class="buttons">
				<!-- EVENT viewforum_buttons_top_before -->
				<a href="{{ U_POST_NEW_TOPIC }}"
				   class="button icon-button {{ S_IS_LOCKED ? 'locked-icon' : 'post-icon' }}"
				   title="{{ S_IS_LOCKED ? lang('FORUM_LOCKED') : lang('POST_TOPIC') }}">
				   	{{ S_IS_LOCKED ? lang('BUTTON_FORUM_LOCKED') : lang('BUTTON_NEW_TOPIC') }}
			    </a>
			    <!-- EVENT viewforum_buttons_top_after -->
			</div>
		{% endif %}

		<div class="page-info">
			<span class="current-page">{{ PAGE_NUMBER }}</span>
			<span class="total-topics">[ {{ TOTAL_TOPICS }} ]</span>
		</div>
	</div>

	<div class="pagination">
		{% if not S_IS_BOT and U_MARK_TOPICS and loops.topicrow %}
			<a href="{{ U_MARK_TOPICS }}" class="mark" accesskey="m" data-ajax="mark_topics_read">
				{{ lang('MARK_TOPICS_READ') }}
			</a> &bull;
		{% endif %}

		{% if loops.pagination %}
			{% include "pagination.html" %}
		{% endif %}
	</div>

</div>
{% endif %}


{# Should never be visible because of redirect to loging page #}
{% if S_NO_READ_ACCESS %}
<div class="panel">
	<div class="inner">
		<strong>{{ lang('NO_READ_ACCESS') }}</strong>
	</div>
</div>
{# Rest stripped, see original template... #}
{% endif %}

{# If we're only showing the active topics #}
{% if S_DISPLAY_ACTIVE %}
<div class="panel" id="active_topics"><strong>{{ lang('DISPLAY_ACTIVE') }}</strong></div>
{% endif %}


<div class="topics-header">
	<div class="topics">{{ lang('TOPICS') }}</div>
	<div class="author">{{ lang('AUTHOR') }}</div>
	<div class="posts">{{ lang('REPLIES') }}</div>
	<div class="views">{{ lang('VIEWS') }}</div>
	<div class="lastpost"><span>{{ lang('LAST_POST') }}</span></div>
</div>


{% for topicrow in loops.topicrow %}

	{% if not topicrow.S_TOPIC_TYPE_SWITCH and not topicrow.S_FIRST_ROW %}
			</div>
		</div>
	{% endif %}

	{% if topicrow.S_FIRST_ROW or topicrow.S_TOPIC_TYPE_SWITCH > -1 %}
		{% set announcement=topicrow.S_TOPIC_TYPE_SWITCH and (topicrow.S_POST_ANNOUNCE or topicrow.S_POST_GLOBAL) %}
		<div class="forumbg {{ announcement ? 'announcement' : '' }}">
			{% if topicrow.S_TOPIC_TYPE_SWITCH > -1 %}
			<div class="topics category">
				<strong>{{ announcement ? lang('ANNOUNCEMENTS') : lang('TOPICS') }}</strong>
			</div>
			{% endif %}
			<div class="topiclist topics">
	{% endif %}


	<!-- EVENT viewforum_body_topic_row_before -->

	<div class="row
				{{- topicrow.S_ROW_COUNT is even ? ' bg1' : ' bg2' -}}
				{{- topicrow.S_POST_GLOBAL ? ' global-announce' : '' -}}
				{{- topicrow.S_POST_ANNOUNCE ? ' announce' : '' -}}
				{{- topicrow.S_POST_STICKY ? ' sticky' : '' -}}
				{{- topicrow.S_TOPIC_REPORTED ? ' reported' : '' -}}"
		 data-id="{{ topicrow.TOPIC_ID }}"
		 title="{{ topicrow.TOPIC_FOLDER_IMG_ALT }}">

		<!-- EVENT viewforum_body_topic_row_prepend -->

		<div class="icon read-status {{ topicrow.TOPIC_IMG_STYLE }}">
			&nbsp;
		</div>

		<div class="icon"
			{%- if topicrow.TOPIC_ICON_IMG and S_TOPIC_ICONS -%}
				style="background-image: url({{ T_ICONS_PATH }}{{ topicrow.TOPIC_ICON_IMG }}); background-repeat: no-repeat;"
			{%- endif -%}>&nbsp;
		</div>

		<div class="description">
			<!-- EVENT topiclist_row_prepend -->
			{% if topicrow.S_UNREAD_TOPIC and not S_IS_BOT %}<a href="{{ topicrow.U_NEWEST_POST }}" class="icon-link">{{ NEWEST_POST_IMG }}</a>{% endif %}
			<a href="{{ topicrow.U_VIEW_TOPIC }}" class="topictitle">{{ topicrow.TOPIC_TITLE }}</a>
			{% if topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED %}
				<a href="{{ topicrow.U_MCP_QUEUE }}">{{ topicrow.UNAPPROVED_IMG }}</a>&nbsp;
			{% endif %}
			{% if topicrow.S_TOPIC_DELETED %}
				<a href="{{ topicrow.U_MCP_QUEUE }}">{{ DELETED_IMG }}</a> &nbsp;
			{% endif %}
			{% if topicrow.S_TOPIC_REPORTED %}
				<a href="{{ topicrow.U_MCP_REPORT }}">{{ REPORTED_IMG }}</a>&nbsp;
			{% endif %}
			{% if topicrow.pagination %}
				<div class="pagination">
					[
						{{ GOTO_PAGE_IMG }}{{ lang('GOTO_PAGE') }}:
						<ul>
						{% for page in topicrow.pagination %}
							{% if page.S_IS_PREV %}
								{# NOTHING #}
							{% elseif page.S_IS_CURRENT %}
								<li class="active">{{ page.PAGE_NUMBER }}</li>
							{% elseif page.S_IS_ELLIPSIS %}
								<li class="ellipsis">{{ lang('ELLIPSIS') }}</li>
							{% elseif page.S_IS_NEXT %}
								{# NOTHING #}
							{% else %}
								<li><a href="{{ page.PAGE_URL }}">{{ page.PAGE_NUMBER }}</a></li>
							{% endif %}
						{% endfor %}
						</ul>
					]
				</div>
			{% endif %}
			<!-- EVENT topiclist_row_append -->
		</div>

		<div class="author">{{ topicrow.TOPIC_AUTHOR_FULL }}</div>
		<div class="posts">{{ topicrow.REPLIES }}</div>
		<div class="views">{{ topicrow.VIEWS }}</div>
		<div class="lastpost">
			<p class="details">{{ topicrow.LAST_POST_TIME }}</p>
			<p class="details">
				{{ topicrow.LAST_POST_AUTHOR_FULL }}
				{% if not S_IS_BOT %}
					<a href="{{ topicrow.U_LAST_POST }}">{{ LAST_POST_IMG }}</a>
				{% endif %}
			</p>
		</div>

		<!-- EVENT viewforum_body_topic_row_append -->

	</div>

	<!-- EVENT viewforum_body_topic_row_after -->

	{% if topicrow.S_LAST_ROW %}
			</div>
		</div>
	{% endif %}

{% else %}
	{% if S_IS_POSTABLE %}
	<div class="panel">
		<div class="inner"> <strong>{{ lang('NO_TOPICS') }}</strong> </div>
	</div>
	{% endif %}
{% endfor %}


{% if S_SELECT_SORT_DAYS and not S_DISPLAY_ACTIVE %}
<form method="post" action="{{ S_FORUM_ACTION }}">
	<fieldset class="display-options">
	{% if not S_IS_BOT %}
		<label>{{ lang('DISPLAY_TOPICS') }}{{ lang('COLON') }} {{ S_SELECT_SORT_DAYS }}</label>
		<label>{{ lang('SORT_BY') }} {{ S_SELECT_SORT_KEY }}</label>
		<label>{{ S_SELECT_SORT_DIR }}</label>
		<input type="submit" name="sort" value="{{ lang('GO') }}" class="button2" />
	{% endif %}
	</fieldset>
</form>
{% endif %}



{% if loops.topicrow and not S_DISPLAY_ACTIVE %}
<div class="action-bar bottom">
	<div class="action-buttons">
		{% if not S_IS_BOT and S_DISPLAY_POST_INFO %}
			<div class="buttons">
				<!-- EVENT viewforum_buttons_bottom_before -->
				<a href="{{ U_POST_NEW_TOPIC }}"
				   class="button icon-button {{ S_IS_LOCKED ? 'locked-icon' : 'post-icon' }}"
				   title="{{ S_IS_LOCKED ? lang('FORUM_LOCKED') : lang('POST_TOPIC') }}">
				   	{{ S_IS_LOCKED ? lang('BUTTON_FORUM_LOCKED') : lang('BUTTON_NEW_TOPIC') }}
			    </a>
			    <!-- EVENT viewforum_buttons_bottom_after -->
			</div>
		{% endif %}

		<div class="page-info">
			<span class="current-page">{{ PAGE_NUMBER }}</span>
			<span class="total-topics">[ {{ TOTAL_TOPICS }} ]</span>
		</div>
	</div>

	<div class="pagination">
		{% if not S_IS_BOT and U_MARK_TOPICS and loops.topicrow %}
			<a href="{{ U_MARK_TOPICS }}" class="mark" accesskey="m" data-ajax="mark_topics_read">
				{{ lang('MARK_TOPICS_READ') }}
			</a> &bull;
		{% endif %}

		{% if loops.pagination %}
			{% include "pagination.html" %}
		{% endif %}
	</div>

</div>
{% endif %}


<div class="navbar" role="navigation">
	<div class="inner">
		<ul id="nav-breadcrumbs-bottom" class="linklist navlinks" role="menubar">
			{% include "nav_breadcrumbs.html" %}
		</ul>
	</div>
</div>


{% if S_DISPLAY_ONLINE_LIST %}
<div class="stat-block online-list">
	<h3>
		{% if U_VIEWONLINE %}
			<a href="{{ U_VIEWONLINE }}">{{ lang('WHO_IS_ONLINE') }}</a>
		{% else %}
			{{ lang('WHO_IS_ONLINE') }}
		{% endif %}
	</h3>
	<p>{{ LOGGED_IN_USER_LIST }}</p>
</div>
{% endif %}


{% if S_DISPLAY_POST_INFO %}
<div class="post-info">
	<div class="icons-legend">
		<div class="legend-icon">
			{{ FOLDER_UNREAD_IMG }} {{ lang('UNREAD_POSTS') }}
		</div>
		<div class="legend-icon">
			{{ FOLDER_IMG }} {{ lang('NO_UNREAD_POSTS') }}
		</div>
		<div class="legend-icon">
			{{ FOLDER_ANNOUNCE_IMG }} {{ lang('ICON_ANNOUNCEMENT') }}
		</div>
		<div class="legend-icon">
			{{ FOLDER_HOT_UNREAD_IMG }} {{ lang('UNREAD_POSTS_HOT') }}
		</div>
		<div class="legend-icon">
			{{ FOLDER_HOT_IMG }} {{ lang('NO_UNREAD_POSTS_HOT') }}
		</div>
		<div class="legend-icon">
			{{ FOLDER_STICKY_IMG }} {{ lang('ICON_STICKY') }}
		</div>
		<div class="legend-icon">
			{{ FOLDER_LOCKED_UNREAD_IMG }} {{ lang('UNREAD_POSTS_LOCKED') }}
		</div>
		<div class="legend-icon">
			{{ FOLDER_LOCKED_IMG }} {{ lang('NO_UNREAD_POSTS_LOCKED') }}
		</div>
		<div class="legend-icon">
			{{ FOLDER_MOVED_IMG }} {{ lang('TOPIC_MOVED') }}
		</div>
	</div>

	<div class="permissions">
	{% for rule in loops.rules %}{{ rule.RULE }}<br>{% endfor %}
	</div>
</div>
{% endif %}


<div class="jumpbox-row">
{% if S_DISPLAY_SEARCHBOX %}
	<div class="search-box" role="search">
		<form method="get" id="forum-search" action="{{ S_SEARCHBOX_ACTION }}">
		<fieldset>
			<input class="inputbox search tiny" type="search" name="keywords" id="search_keywords" size="20" placeholder="{{ lang('SEARCH_FORUM') }}" />
			<button class="button icon-button search-icon" type="submit" title="{{ lang('SEARCH') }}">{{ lang('SEARCH') }}</button>
			<a href="{{ U_SEARCH }}" class="button icon-button search-adv-icon" title="{{ lang('SEARCH_ADV') }}">{{ lang('SEARCH_ADV') }}</a>
			{{ S_SEARCH_LOCAL_HIDDEN_FIELDS }}
		</fieldset>
		</form>
	</div>
{% endif %}

{% include "jumpbox.html" %}
</div>

{% include "overall_footer.html" %}
