{% spaceless %}
    <li id="tab-home" class="tab">
        <a href="/" title="Ga naar de startpagina!">home</a>
    </li>

    <li id="tab-forum" class="tab">
        <a href="/phpBB3/" title="Je bent nu op het forum!">forum</a>
    </li>

    <li id="tab-shop" class="tab">
        <a href="/winkel/" title="Ga naar de shop!">shop</a>
    </li>

    <li id="tab-albums" class="tab">
        <a href="/albums/" title="Ga naar de albums!">albums</a>
    </li>

    <li id="tab-kitreviews" class="tab">
        <a href="/kitreviews/index.php" title="Ga naar de kitreviews!">kitreviews</a>
    </li>

    <li id="group-builds" class="tab">
        <a href="/group-builds/" title="Beheer groepsbouwen!">groepsbouwen</a>
    </li>
    <!--<li>
        <img src="{{ static.url('images/nav/modelbouw_wiki.png') }}" alt="Modelbouw Wiki"/>
    </li>-->
{% endspaceless %}
